body{
  margin: 0;
  padding: 0;
  background-color: #B7BDFF;
  width: 300px;
}
input{
  width: 200px;
  height: 30px;
  position: relative;
  top: 200px;
  left: 102px;
  border-radius: 10%;
}
.submit{
  width: 150px;
  height: 30px;
  position: relative;
  top: 50px;
  left: 129px;
  border-radius: 10%;
}
.logo{
  width: 140px;
  height: 180px;
  position: relative;
  left: -30px;
  top: -100px;
}
.reward{
  width: 200px;
  position: relative;
  left: 105px;
  top: -70px;
}
h2{
  color: #FF1F00;
  font-size: 1.5pc; 
  position: relative;
  top: -70px;
  left: 70px;
}
h3{
  color: #1C2FFF;
  position: relative;
  top: -70px;
  left: 80px;
  font-size: 2pc;
}
p{
  color: #141947;
  position: relative;
  top: -70px;
  left: 20px;
}
select{
  position: relative;
  top: -70px;
  left: 50px;
}
.s1{
  position: relative;
  top: -90px;
  left: 50px;
}
h4{
  position: relative;
  top: 330px;
  left: 30px;
}
.notice{
  position: relative;
  top: 287px;
  left: 320px;
}
.welcome{
    position: relative;
    top: -70px;
    left: -60px;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 3em;
    overflow: hidden;
    font-weight: 600;
    color: #F8F3C4;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
.box{
  height: 60px;
  width: 400px;
  background-color: #FF4FD8;
}
hr{
  width: 395px;
  position: relative;
  top: -70px;
}
.get{
  position: relative;
  top: -25px;
  left: 90px;
  border-radius: 2%;
  width: 60px;
  height: 30px;
}
.ftxt{
  position: relative;
  top: -10px;
}
.continue{
  position: relative;
  top: -70px;
  left: 130px;
  background-color: #172AE5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.sure{
  position: relative;
  top: 50px;
  left: 60px;
}
.sendf{
  position: relative;
  top: 100px;
  left: 80px;
}
.feedback{
  position: relative;
  top: -5px;
  left: 40px;
  background-color: #172AE5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}
.inputf{
    position: relative;
    top: -25px;
    left: 75px;
    border-radius: 0%;
}
